html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-description {
    text-align: center;
}

.project-control-box {
    display: flex;
}
.project-container {
    height: auto;
}

.task-container {
    display: flex;
    justify-content: space-between;
}