html, body{
    height:100%;
    margin: 0;
}

body {    
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.project-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-description {
    text-align: center;
}

.project-control-box {
    display: flex;
}
.project-container {
    height: auto;
}

.task-container {
    display: flex;
    justify-content: space-between;
}

#pagination {
    align-self: center;
    margin-top: auto;
}