html, body{
    height:100%;
    margin: 0;
}

body {    
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-description {
    text-align: center;
}

.project-control-box {
    display: flex;
}
.project-container {
    height: auto;
}

.task-container {
    display: flex;
    justify-content: space-between;
}

#pagination {
    align-self: center;
    justify-self: flex-end;
}